# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Pytest cache
.pytest_cache/

# Local IDE files
*.idea/
*.vscode/

# Test artifacts
tests/__pycache__/

# Ignore compiled files and logs
*.log
